<div class="field">
    <div class="card-stack">
        <img [ngStyle]="{'right.px': i * 2, 'top.px': i*2}" 
            *ngFor="let c of [0,1,2,3,4]; let i = index;" 
            src="./../../assets/img/cards/card_cover.png">
        <img (click)="takeCard()" class="top-card" 
            style="right: 12px; top: 12px" src="./../../assets/img/cards/card_cover.png">
        <img *ngIf="pickCardAnimation" class="take-card" 
            style="right: 12px; top: 12px" src="./../../assets/img/cards/{{ currentCard }}.png">
    </div>
</div>